:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;


    .app-container{
        width: 50%;
        margin-bottom: 1rem;
    }

    .render-container{
        width: 50%;
    }
}
